@page
@model WebBattleship.Pages.Settings

<!DOCTYPE html>
<html>
<head>
    <title>Ship Settings</title>
</head>

    <style>
    table {
    width: 400px; /* Ширина таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
    }
    td {
    text-align: center; /* Выравниваем текст по центру ячейки */
    }
    button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
    }

  </style>

<body>
<div>
    <br>
    <label>
        <strong>Board Size</strong>
    </label>
    <table>
        <tr>
            <td>Height: </td>
        </tr>
    </table>    
    <table>
        <tr>
            <td><input type="text" name="title"/></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>Width: </td>
        </tr>
    </table>    
    <table>
        <tr>
            <td><input type="text" name="title"/></td>
        </tr>
    </table>
    <br>
    <label>
        <strong>Ship Size</strong>
    </label>
        <table width="100%" cellspacing="0" id="maket">
            <tr> 
                <td valign="top"><strong>Ship name</strong></td>
                <td valign="top"><strong>Size</strong></td>
                <td valign="top"><strong>Amount</strong></td>
            </tr>
            <tr> 
                <td valign="top">Carrier</td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
            </tr>
            <tr> 
                <td valign="top">Battleship</td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
            </tr>
            <tr> 
                <td valign="top">Submarine</td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
            </tr>
            <tr> 
                <td valign="top">Cruiser</td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
            </tr>
            <tr> 
                <td valign="top">Patrol</td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
                <td valign="top">
                    <select type="text" name="ShipSize">
                        @for (int size = 1; size < 6; size++)
                        {
                            <option value="@size" > @size </option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    <br>
    <label>
        <strong>Boats may touch or not</strong>
    </label>
    <table>
        <tr>
            <td>Yes <input name="can" id="touch" tpl-checked="yes" type="checkbox"/></td>
        </tr>
        <tr>
            <td>No <input name="can" id="touch" tpl-checked="yes" type="checkbox"/></td>
        </tr>
    </table>
    <br>
    <table>
    <td><button onclick="window.location='https://localhost:5001/ChangeSettingsGame'">Save Settings</button></td>
    </table>
</div>
</body>
</html>